.top{
    text-align:center;
    color: white;
    margin-top:-20px;
    padding-bottom:100px;
    background-size: 103%;
    background-image: url("../img/bg_top.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:0px 3px;
}
.middle {
    background-color: white;
    color:black;
}
.end {
    background-color:grey;
    color:black;
}

h2 {
    font-family: 'Raleway', 'Arial', sans-serif;
}
.big-header {
    font-size:60px;
    font-family: 'Varela Round', sans-serif;
    margin-top:0px;
}
.header{
    margin-left:15%;
    text-align: left;
}
body{
    color:white;
}
html{
    
    background-color: black;
    
}
.myotherButton {
    background-color:#45c7be;
    border-radius: 26px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Raleway', 'Arial', sans-serif;
	font-size:18px;
	padding:10px 25px;
	text-decoration:none;
    transition: 0.2s;
    width:75%;
    text-align:center;
}
.myotherButton:hover {
    background-color:#EF5350;
    transform: translateY(2px);
}